<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-6">
                        <h4>Why choose us ?</h4>
                        <p>Your safety is our top priority, guaranteed our medical services are top notch to serve you.</p>
                    </div>

                    <div class="col-md-5">
                        <h4>Follow our page !</h4>
                        <p>
                            <a href="https://www.facebook.com/newbornlyingin" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                          <a href="https://twitter.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                          <a href="https://www.linkedin.com/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                        </p>
                        <p><small>© Newborn Lying-In| All rights reserved. </p>    
                    </div>
            </div>
        </div>
    </div>
</footer>